@font-face {
    font-family: 'Alright Sans';
    src: url('AlrightSans-Bold.woff2') format('woff2'),
        url('AlrightSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('AlrightSans-Light.woff2') format('woff2'),
        url('AlrightSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('AlrightSans-ExtraThin.woff2') format('woff2'),
        url('AlrightSans-ExtraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('AlrightSans-Regular.woff2') format('woff2'),
        url('AlrightSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('AlrightSans-Medium.woff2') format('woff2'),
        url('AlrightSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

